.boxModel{
    padding: 0;
    height: 100%;
    overflow: scroll !important;
}

/* .carousel-control-next{
    position: fixed;
    top: -16rem !important;
    right: 25rem !important;
}

.carousel-control-prev{
    position: fixed;
    top: -16rem !important;
    left: 53rem !important;
} */

.boxModel{
    padding: 0;
    height: 100%;
    /* overflow: scroll !important; */
  }
  
  .table-head {
    padding: 0 10px;
  }

  .tt-cnt {
    padding: 10px;
    border: 1px solid rgb(150, 206, 255);
    box-shadow: 0 0 3px 0 rgb(79 111 139);
    border-radius: 10px;
    background: #ddefff;
  }

  .outerDiv{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .innerDiv{
    width: 100%;
    max-width: 832px;
    height: 622px;
  }
  
  .outerGrid{
    display: grid;
    grid-template-columns: repeat(7,1fr);
  }
  
  .standardDiv{
    margin-left: 15rem;
    margin-right: 20rem;
    padding: 10px;
    border: 1px solid rgb(150, 206, 255);
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 0 3px 0 #9e48b9;
}
  @media screen and (max-width: 600px) {
  .standardDiv {
    margin-left: inherit;
    margin-right: inherit;
    padding: 5px;
}
.navbar-nav  {
  flex-direction: inherit;
}
  }