<app-student-nav-bar></app-student-nav-bar>
<div class="container-fluid">
  <div class="row">
    <div class='col-lg-9'>
      <div class="mt-1 stu-standardDiv">
        <hr>
        <h5 class="mt-2"><b>This Week</b></h5>
        <hr>
        <div *ngIf="isLoading" class="text-center">Loading Data, Please wait...</div>
        <div *ngIf="studentNotesDataSubjectWise?.length > 0">
          <div class="grid">
            <div class='assignment-file-cnt' *ngFor="let data of studentNotesDataSubjectWise">
              <div class="assignment-file" (click)="fetchNotesDataTopicWise(data?.id)"></div>
                <div class="assignment-description"> 
                  <p class="class-name cursor-pointer">{{ data?.subject_name }}</p>
                </div>
              </div>
          </div>
        </div>
        <div class="grid" *ngIf="studentNotesDataTopicWise?.length > 0">
          <div class="assignment-file-cnt" *ngFor="let data of studentNotesDataTopicWise"
              (click)="openNotesData();selectedStudentNotesData = data">
              <div class="assignment-file"></div>
              <div class="assignment-description"> 
                <p class="class-name">{{ data?.name }}</p>
                <p class="cursor-pointer">{{data?.file_count}} Files</p>
                <p style="font-size: 10px">{{ getDate(data.created_on) }}</p>
              </div>
            </div>
        </div>
        <div class="grid" *ngIf="studentNotesVideos">
          <div class="cursor-pointer assignment-file-cnt" (click)="fetchNotesData('note')">
            <div class="assignment-file"></div>
            <div class="assignment-description">
              <p class="class-name">Notes</p>
            </div>
          </div>
          <div class="cursor-pointer assignment-file-cnt" (click)="fetchNotesData('vid')">
            <div class="assignment-file"></div>
            <div class="assignment-description">
              <p class="class-name">Videos</p>
            </div>
          </div>
        </div>
        <div  *ngIf="notesData?.length > 0">
          <div class="mt-2 student-assignment-description-cnt" *ngFor="let data of notesData" >
            <div class='row'>
              <div class="topicName col-lg-3">{{data?.name}}</div>
              <div class="teacherName col-lg-6">
                {{getFileType(data.note? data?.note : data?.video)}} <span *ngIf="data.note? data?.note : data?.video">file</span>
              </div>
              <div class='col-lg-3'>
                <button class="solid-btn-green" (click)="onDownloadClick('https://api.vamschool.in' + 
                (data.note? data?.note : data?.video))">
                  Download</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="studentNotesDataSubjectWise?.length == 0 && subjectFilter" style="text-align: center">
          <b>No Data To Display</b>
        </div>
        <div class="footer-card"></div>
      </div>
    </div>
    <div class="activity-column col-lg-3">
      <div class="activity-heading">
        <h2>Activity</h2>
      </div>
      <div class="activity-card">
        <div *ngFor="let data of notesActivity" style="display: flex;flex-direction: rows;">
          <div class='activity-card-element' >
            <p>
              <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span>{{data.activity}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
