.boxModel{
  padding: 0;
  height: 100%;
  overflow: scroll !important;
}

.stu-standardDiv{
  margin-left: 15rem;
  margin-right: 0;
  padding: 10px;
}

.outerDiv{
  flex: 3 70%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
}

.innerDiv{
  width: 100%;
  align-self: flex-end;
}

.grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 2px;
}

@media screen and (max-width: 600px) {
  .grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2px;
  }
  .stu-standardDiv{
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
  }
}



.assignment-file-cnt {
  width: 100%;
  height: 100%;
  padding: 12px;
  max-width: 106px;
  position: relative;
}
 
.assignment-file{
   background-image: url('../../assets/images/folder-y.svg');
   background-position-x: center;
   background-size: 100%;
   padding: 2.5rem;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   background-repeat: no-repeat;
} 

.assignment-file-doc{
  background-image: url('../../assets/images/document.svg');
  background-position-x: center;
  background-size: 100%;
  padding: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
} 

.assignment-file-cnt p {
  font-size: 12px;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.assignment-file-cnt p.class-name {
  font-weight: bold;
  font-size: 18px;
}

.alignlist {
  display: flex;
  justify-content: space-around;
  /* border-bottom: 1px solid #ffffff; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* .subitem{
display: inline-flex;
width: 100%;
} */
hr {
  border: none;
  height: 1px;
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}
.showlist{
  list-style-type: none; 
  margin-top: 1.5rem;
}

* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  /* right: 15px; */
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  /* max-width: 300px; */
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */


/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.newclass{
  background-color: #cccccc;
}
button {
  padding: 5px;
  margin-right: 5px;
}

p {
  font-family: Lato;
}


.subheader {
  /* background-color: #f3c062; */
  display: flex;
  float: left;
}

.header {
  margin: 5px 0;
  border: 1px solid #616161;
  border-radius: 5px;
  transition-duration: 0.2s;
  padding: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  position: relative;
}

.header p {
  margin : 0;
}

.due-date {
  position: absolute;
  right: 0;
  top: 0;
  width: fit-content;
  background: #598c6a;
  padding: 0 5px;
  color: white;
  border-radius: 0 0 0 5px;
}

.due-date-crossed{ 
  position: absolute;
  right: 0;
  top: 0;
  width: fit-content;
  background: #c93406;
  padding: 0 5px;
  color: white;
  border-radius: 0 0 0 5px;
}

.header:hover {
  border-bottom: 1px solid #212121;
  box-shadow: 0 1px 2px 0 grey;
}

.header p {
  padding-top: 5px;
  padding-bottom: 5px;
} 

.student-name {
  font-weight: bold;
  color: #598c6a;
  margin-top: 20px;
}

.student-name p {
  margin-bottom: 0;
}

.assignment-description-btn-cnt {
  float: right;
  justify-content: end;
  text-align: end;
}

.marks-input {
  width: 50px;
  border-bottom: 1px solid #616161;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #9e48b9;
  text-align: center;
}

.table-head {
  padding: 10px;
}

.marks-given input {
  border: 1px solid #96ceff;
  border-radius: 5px;
  text-align: center;
  margin-right: 5px;
  padding: 5px;
  color: #598c6a;
}
@media screen and (max-width: 600px) {
  .innerDiv {
    max-width: inherit;
    padding: 5px;
  }
  .navbar-nav  {
    flex-direction: inherit;
  }
}

.activity-column {
  flex: 1 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
  padding: .5rem 1rem;
}
.activity-heading {
  margin-top: 10px;
  width: 100%;
  text-align: left;
  padding: 5px;
}

.activity-heading h2 {
  font-size: 24px;
  font-weight: bold;
  color: #b3f7ff;
}

.showlist {
  list-style-type: none;
  /* margin-top: 1.5rem; */
}

.activity-card {
  background-color: #22878b;
  border: 1px solid #96ceff;
  min-height: 60vh;
  height: 100%;
  width: 300px;
  padding: 15px 20px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 600px) {
  .activity-card {
    background-color: #22878b;
    border: 1px solid #96ceff;
    min-height: 60vh;
    height: 100%;
    width: 100%;
    padding: 15px 20px;
    position: relative;
  }
}

.activity-card-element p {
  /* border-radius: 5px; */
  color: #abd5da;
  font-size: 18px;
}

.activity-card-element p:hover {
  color: #ffffff;
}

.no-data {
  width: 100%;
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.center-gif {
  position: relative;
}

.center-gif img {
  width: 100%;
}

.upload-cnt {
  margin-top: 1rem;
}

.upload-cnt label {
  font-size: 18px;
  color: white;
}

.upload-cnt input {
  color: #81d4fa;
  width: 100%;
  margin-top: 0.5rem;
}

.solid-btn-download:hover {
  color: white;
  border: 1.5px solid #ffffff;
  border-radius: 5px;
  background-color: #4db6ac;
}

.solid-btn-download {
  color: white;
  border: 1.5px solid #4db6ac;
  border-radius: 5px;
  background-color: transparent;
}

button.btn.add-comment {
  color: white;
  font-size: 22px;
}

button.btn.add-comment:hover {
  color: #4db6ac;
}

.type-cmnt {
  border: none;
  padding: 5px 0 5px 10px;
  border-radius: 50px;
}

.comment-div {
  display: grid;
  grid-template-columns: 80% 20%;
}

.comment-div i {
  font-size: 30px;
  margin-left: 5px;
  color: white;
  transition-duration: 0.5s;
}

.comment-div i:hover {
  color: #abd5da;
  transform: scale(1.1);
}

/* .comments-list li.other {
  color: #f0f3bd;
  width: fit-content;
  background: #238286;
  padding: 3px 5px;
  margin: 3px 0;
  border-radius: 5px;
  border: 1px solid white;
  position: relative;
} */

.comments-list li.me {
  color: #f0f3bd;
  width: fit-content;
  background: #313131;
  padding: 3px 5px;
  margin: 3px 0;
  border-radius: 5px;
  border: 1px solid white;
  position: relative;
  margin-left: auto;
}

.comments-list li span.cmnt-time {
  position: relative;
  bottom: -3px;
  right: 0px;
  font-size: 10px;
  color: #96ceff;
  margin-left: 5px;
}

.comments-list li span.cmnt-text {
  margin-bottom: 10px;
}

.comments-list {
  list-style-type: none;
  padding: 10px;
  border: 1px solid white;
  position: relative;
  margin-top: 1rem;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  overflow-y: scroll;
  height: 250px;
  background: #abd5da;
}

/* width */
.comments-list::-webkit-scrollbar {
  width: 1px;
}

/* Track */
.comments-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.comments-list::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.comments-list::-webkit-scrollbar-thumb:hover {
  background: #666;
}

ul.comments-list > li {
  transform: rotate(-180deg);
}