<section id='whyus'>
    <div class='container'>
      <div class="row">
        <div class="sec-heading-cnt col-lg-12 col-md-12 col-sm-12">
          <h2 class='sec-heading-txt'>WHY US</h2>
        </div>
        <div class="sec-subheading-txt col-lg-12 col-md-12 col-sm-12">
          <h3>Customer service should not be a department. It should be the entire company - Tony Hsieh.</h3>
        </div>
      </div>
      
      <div class="features-cnt row">
        <img src="../../assets/images/ques.jpg" alt="why">
        <div class="col-lg-4">
            <div class="row">
                <div class="item" style="text-align: left;">
                    <p><strong>Flex between classroom, distance learning, or hybrid</strong>  Whatever learning looks like this year, feel confident that your lessons will work in any environment. Regardless of device type or availability, the same lesson can shift with your plans.</p>
                </div>
            </div>
            <div class="row">
                <div class="item" style="text-align: left;">
                    <p><strong>Focused on K-12 Schools just like yours</strong> Elementary students don’t learn the same way as college students or adults. VAM was designed for all students—from kindergarten through 12th grade—to be fully engaged with their learning.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="item" style="text-align: right;">
                  <div class="center">
                    <p><strong>Spark productivity from day one.</strong></p>
                  </div> 
                </div>
            </div>
            <div class="row">
                <div class="item" style="text-align: right;">
                  <p><strong>Join an exclusive community of schools focused on empowering education and nurturing children.</strong></p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- <app-contactus></app-contactus> -->