.item {
    /* padding-top: 75%; */
    min-height: 300px;
    /* border: 1px solid black; */
    border-radius: 10px;
    font-size: 19px;
    margin: 5px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    display: flex;
}

.item p {
    font-family: 'Montserrat', sans-serif!important;
}

.item p strong {
    color: #ab236d;
}

.features-cnt {
    position: relative;
    padding: 4rem 0;
}

.features-cnt img {
    width: 100%;
    position: absolute;
    z-index: -1;
}