<section id='whyus'>
    <div class='container'>
      <div class="row">
        <div class="sec-heading-cnt col-lg-12 col-md-12 col-sm-12">
          <h2 class='sec-heading-txt'>WHY US</h2>
        </div>
        <div class="sec-subheading-txt col-lg-12 col-md-12 col-sm-12">
          <h3>Customer service should not be a department. It should be the entire company - Tony Hsieh.</h3>
        </div>
      </div>
      
      <div class="features-cnt row">
        <img src="../../assets/images/ques.jpg" alt="why">
        <div class="col-lg-4">
            <div class="row">
                <div class="item">
                    
                </div>
            </div>
            <div class="row">
                <div class="item">
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="center">

            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="item">
                    
                </div>
            </div>
            <div class="row">
                <div class="item">
                    
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- <app-contactus></app-contactus> -->