
    <nav class="navbar navbar-expand-md navbar-light ">
      <div class="container">
        <!-- <a class="navbar-brand homeNavbrand" href="#">
          <h1>VAM</h1>
        </a> --> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" #stickyMenu [class.sticky] = "sticky">
          <a class="navbar-brand homeNavbrand" href="#">
            <h1>VAM</h1>
          </a>
          <ul class="navbar-nav ml-auto mr-5">
            <li class="nav-item">
              <a class="nav-link login-items" routerLink="/aboutus" routerLinkActive="active">
                ABOUT
              </a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link login-items" routerLink="/contact" routerLinkActive="active">
                CONTACT US
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link login-items" routerLink="/login" routerLinkActive="active">
                LOGIN
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link login-items" routerLink="/register" routerLinkActive="active">
                REGISTER
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <button type="button" class="requestDemo btn">Request Demo</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  