app-home-header {
  width: 100%;
}

.navbar-light .navbar-toggler {
  border-color: transparent!important;
}
.navbar {
    position: absolute;
    width: 100%;
    z-index: 2;
    background: lightgrey;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .navbar-nav {
    flex-direction: column;
  }
}

button.requestDemo.btn {
  border: 2px solid #616161;
  background-color: transparent;
  color: #616161;
  width: max-content;
  transition-duration: 0.3s;
}

button.requestDemo.btn:hover {
  background-color: #9e48b9;
  border: 2px solid #616161;
  color: white;
}

li .login-items{
  font-family: 'Mulish', sans-serif;
  font-weight: bolder;
  color: #616161;
  margin: 0 1rem;
}

li .login-items:hover {
  color: #9e48b9;
}

li .login-items.active {
  color: #9e48b9;
}

.homeNavbrand{
  font-family: 'Mulish', sans-serif;
  color: #202020!important;
  font-size: 2rem;
  margin: 0;
}

.homeNavbrand h1{
  margin: 0;
  font-weight: bolder;
}

.homeNavbrand:hover {
  color: #420057!important;
}

.card{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: -10px 26px 46px #00000029;
  height: 670px;
  margin-top: 15px;
}
  
.home{
  margin-top: 8rem;
  font-size: 50px;
  text-align: right;
}
