app-home-header {
  width: 100%;
}

.navbar {
    position: absolute;
    width: 100%;
    z-index: 2;
    background-image: aqua;
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
}

@media screen and (max-width: 600px) {
  .navbar-nav {
    flex-direction: column;
  }
}

button.requestDemo.btn {
  border: 2px solid #616161;
  background-color: transparent;
  color: #616161;
  width: max-content;
  transition-duration: 0.3s;
}

button.requestDemo.btn:hover {
  background-color: #9e48b9;
  border: 2px solid #616161;
  color: white;
}

.homeNavbrand{
  position: fixed;
  top: 0;
  left: 2rem;
  font-size: 2rem;
  margin: 0;
  font-weight: bolder;
  font-family: 'Oleo Script Swash Caps', cursive;
  text-shadow: -1px 1px 0 #ffffff,
				  1px 1px 0 #ffffff,
				 1px -1px 0 #ffffff,
				-1px -1px 0 #ffffff;
  color: #4a055f;
  z-index: 5;
}

.homeNavbrand:hover {
  color: #420057!important;
}

.card{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: -10px 26px 46px #00000029;
  height: 670px;
  margin-top: 15px;
}
  
.home{
  margin-top: 8rem;
  font-size: 50px;
  text-align: right;
}

.quote {
  background: #4a7af6!important;
  color: white!important;
  /* border-radius: 5px; */
  font-weight: 100!important;
  transition-delay: 0.2s;
  border: 1px solid #4a7af6;
}

.my-login-btn {
  background: #4E9F6F!important;
  color: white!important;
  font-weight: 100!important;
  transition-delay: 0.2s;
  border: 1px solid #4E9F6F;
  /* border-radius: 5px; */
}

.quote:hover , .my-login-btn:hover {
  background: transparent!important;
  border: 1px solid #313131;
  color: #313131!important;
} 

li .login-items{
  font-family: 'Mulish', sans-serif;
  font-weight: bolder;
  margin: 0 1rem;
  color: #4a055f;
}

.sticky{
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  z-index: 2;
  background: #f9feff;
  padding: 0.5rem 1rem;
  transition-duration: 0.5s ;
  box-shadow: 0 3px 10px 0 rgba(41, 41, 99, 0.801);
}

.show {    
  background-color: rgba(255, 255, 255, 75%);  
  /* backdrop-filter: blur(0px); */
  padding: 0.5rem 0;
  border-radius: 10px;
  transition-duration: 0.2s;
}

@media screen and (max-width: 600px) {
  .quote, .my-login-btn {
    margin-top: 0.5rem!important;
    padding: 5px 10px;
    width: fit-content;
  }

  .navbar-light {
    background: transparent!important;
  }

  .responsive-full {
    height: 100%
  }

  .sticky{
    position: relative;
    padding: 0.5rem 1rem;
    padding: 1rem;
    /* transition-duration: 1s; */
    background-color: rgb(255, 255, 255, 75%);  
  /* backdrop-filter: blur(0px); */
  }

  .homeNavbrand {
    position: relative;
    z-index: 5;
    left: 0.5rem;
  }
}