<app-home-header></app-home-header>
<section id='login'>
  <div class="img-cnt"></div>
  <div class="container" style="height: 100%;">
    <div class="grid">
      <div class="login-box">
        <div class="card text-center">
          <div class="card-body">
            <div class="login-title">
              <h3 style="color: #000000;">Welcome to the VAM</h3>
              <h3 style="color: #ffffff;">"Let's Learn Together"</h3>
            </div>
            <div class="loginform">
              <form [formGroup]="loginForm">

                  <div class="input-group mb-3 loginInputDiv">
                    <input type="text" formControlName="email" name="email" placeholder="Email"
                    aria-label="Email" aria-describedby="basic-addon2" class="inputText" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                  </div>

                
                  <div class="input-group mb-3 loginInputDiv">
                    <input type="password" formControlName="password" name="password" class="form-control"
                      placeholder="Password" aria-label="Password" aria-describedby="basic-addon2" class="inputText" required>
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                      </span>
                  </div>
                

                <div (click)="onForgotPasswordClick()" class="form-group text-right">
                  <a  style="color: #134541;">Forgot Password?</a>
                </div>
                <!-- <div *ngIf="isLoading">
                  Logging In, Please wait...
                </div> -->
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="loginError == 'Unauthorised'">
                  Username or password is incorrect!
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="loginError == 'User does not exist'">
                  Please enter valid credentials!
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <div class="form-group"> 
                  <button type="submit" class="loginBtn btn w-45" [disabled]="!loginForm.valid" (click)="loginUser()">
                    <b>Sign In</b>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>