.aboutCard{
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    height: 440px;
  }

  
.exploreBtn{
    margin-left: 135px;
    width: 40%;
    border-radius: 22px;
    background-color: #36D1DC;
    color: white;
  }