<section id='aboutus'>
  <div class='container'>
    <div class="row">
      <div class="sec-heading-cnt col-lg-12 col-md-12 col-sm-12 ">
        <h2 class='sec-heading-txt'>ABOUT US</h2>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 p-5">
        <div class="about-img">
          <img src="../../assets/images/card3.png">
        </div>
      </div>
      <div class="about-txt col-lg-8 col-lg-8 col-sm-12 col-12 p-5">
        <p>We at <strong>VAM</strong> takes education very seriously that’s why this LMS has been designed after fine research to make it the best solution to opt for. We also take data privacy very seriously and do not share your data with anyone.</p>
        <!-- <h5>What is Lorem Ipsum?</h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> -->
        <button class="home-voilet-btn">Read More</button>
      </div>
    </div>
    <!-- <div class="about-glimpse-cnt row">
      <div class="about-glimpse-txt col-lg-4 col-md-4 col-sm-12">
        <div class="about-glimpse-txt-1">
          <h3>Creating Students success with out technology</h3>
        </div>
      </div>
      <div class="about-glimpse-txt col-lg-4 col-md-4 col-sm-12">
        <div class="about-glimpse-txt-2">
          <h4><i class="fa fa-check" aria-hidden="true"></i>
            Creating Students success with out technology</h4>
          <p>Students can access learning resources anything, anywhere, on their mobility tools.</p>
        </div>
      </div>
      <div class="about-glimpse-txt col-lg-4 col-md-4 col-sm-12">
        <div class="about-glimpse-txt-2">
          <h4><i class="fa fa-comments" aria-hidden="true"></i>
             Onsite and remote support of teachers</h4>
          <p>We provide on-boarding trainings to get you started and render continued support when you need us.</p>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class="col-12 col-sm-12 col-lg-4">
          <div class="card aboutCard">
              <div class="about-card-img"><img src="../../assets/images/card1.png" alt="card-1"></div>
              <h3 class="card-title text-center">
                Brainstorming Session
              </h3>
              <hr>
            <div class='about-btn-cnt'><button type="button" class="exploreBtn btn">Explore</button></div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-4">
          <div class="card aboutCard">
            <div class="about-card-img"><img src="../../assets/images/card2.png" alt="card-2"></div>
              <h3 class="card-title text-center">
                Mock Test
              </h3>
              <hr>
            <div class='about-btn-cnt'><button type="button" class="exploreBtn btn">Explore</button></div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-4">
          <div class="card aboutCard">
            <div class="about-card-img"><img src="../../assets/images/card3.png" alt="card-3"></div>
              <h3 class="card-title text-center">
                Analysis
              </h3>
              <hr>
            <div class='about-btn-cnt'><button type="button" class="exploreBtn btn">Explore</button></div>
          </div>
      </div>
    </div> -->
  </div>
</section>

<!-- <app-contactus></app-contactus> -->