.boxModel{
  padding: 0;
}

.outerDiv{
  flex: 3 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
  margin: 0 0 5rem 0;
}
.innerDiv{
  width: 100%;
  align-self: flex-end;
}

.grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 2px;
}

@media screen and (max-width: 600px) {
  .grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2px;
  }
}

.assignment-file-cnt {
  width: 100%;
  height: 100%;
  padding: 12px;
  max-width: 106px;
  position: relative;
}
 
.assignment-file{
   background-image: url('../../assets/images/folder-y.svg');
   background-position-x: center;
   background-size: 100%;
   padding: 2.5rem;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   background-repeat: no-repeat;
} 

.assignment-file-cnt p {
  font-size: 16px;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.assignment-file-cnt p:hover {
  text-overflow: clip;
  white-space: break-spaces;
  position: relative;
}

.assignment-file-cnt p.class-name {
  font-weight: bold;
}

.assignment-topic-name {
  font-size: 30px;
  color: #9e48b9;
}

.student-assignment-description-cnt {
  border: 0.5px solid lightgrey;
  transition-duration: 0.2s;
  padding: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  position: relative;
}

.student-assignment-description-cnt:hover {
  border-bottom: 1px solid #212121;
  box-shadow: 0 1px 2px 0 grey;
}

.student-assignment-description-cnt p{
  margin: 0;
  font: bold;
  font-size: 18px;
}

.student-assignment-description-btn-cnt {
  float: right;
  justify-content: end;
  text-align: end;
}

.due-date {
  position: absolute;
  right: 0;
  top: 0;
  width: fit-content;
  background: #ec2d2d;
  padding: 0 5px;
  color: white;
  border-radius: 0 0 0 5px;
}

.topicName{
  color: #598c6a;
  font-weight: bold;
  margin-top: 20px;
}

.teacherName{
  color: #616161;
}
  

.stu-standardDiv{
  margin-left: 15rem;
  margin-right: 0;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .stu-standardDiv {
      margin-left: inherit;
      margin-right: inherit;
      padding: 5px;
  }
}

.no-data {
  width: 100%;
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.center-gif {
  position: relative;
}

.center-gif img {
  width: 100%;
}

.upload-assign-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr;
  row-gap: 0px;
}

.upload-assign-grid span {
  color: #81d4fa;
}

#fileList {
  padding: 0;
}

.li-file-upload {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 2fr 1fr;
  row-gap: 0px;
  color: aliceblue;
  border: 0.5px solid #abd5da;
  margin-top: 5px;
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
}

.upload-file-name {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: left;
  color: #313131;
  border-bottom: 1px solid;
}

.upload-file-size {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  text-align: left;
  color: #919191;
}

.upload-file-remove {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  color: #616161;
  text-align: center;
  font-size: 30px;
  border-left: 1px solid;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}