.boxModel{
  padding: 0;
}

.outerDiv{
  flex: 3 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
  margin: 0 0 5rem 0;
}
.innerDiv{
  width: 100%;
  align-self: flex-end;
}

.grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 2px;
}

@media screen and (max-width: 600px) {
  .grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2px;
  }
}

.activity-column {
  flex: 1 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
  padding: .5rem 1rem;
}
.activity-heading {
  margin-top: 10px;
  width: 100%;
  text-align: left;
  padding: 5px;
}

.activity-heading h2 {
  font-size: 24px;
  font-weight: bold;
}

.activity-card{
  background-color: aliceblue;
  border: 1px solid #96ceff;
  margin-top: 10px;
  border-radius: 10px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 15px 20px;
} 


.activity-card-element p {
  border-radius: 5px;
}

.activity-card-element p:hover {
  background-color: #dfeffc;
} 

.assignment-file-cnt {
  width: 100%;
  height: 100%;
  padding: 12px;
  max-width: 106px;
  position: relative;
}
 
.assignment-file{
   background-image: url('../../assets/images/folder-y.svg');
   background-position-x: center;
   background-size: 100%;
   padding: 2.5rem;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   background-repeat: no-repeat;
} 

.assignment-file-cnt p {
  font-size: 12px;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.assignment-file-cnt p.class-name {
  font-weight: bold;
}

.student-assignment-description-cnt {
  border: 0.5px solid lightgrey;
  transition-duration: 0.2s;
  padding: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  position: relative;
}

.student-assignment-description-cnt:hover {
  border-bottom: 1px solid #212121;
  box-shadow: 0 1px 2px 0 grey;
}

.student-assignment-description-cnt p{
  margin: 0;
  font: bold;
  font-size: 18px;
}

.student-assignment-description-btn-cnt {
  float: right;
  justify-content: end;
  text-align: end;
}

.due-date {
  position: absolute;
  right: 0;
  top: 0;
  width: fit-content;
  background: #ec2d2d;
  padding: 0 5px;
  color: white;
  border-radius: 0 0 0 5px;
}

.topicName{
  color: #598c6a;
  font-weight: bold;
  margin-top: 20px;
}
.teacherName{
  color: #616161;
}
.downloadUploadButton{
  background: lightgrey;
    padding: 5px;
    margin-right: 5px;
}
.uploadNotesButton{
  width: 81px;
    /* height: 38px; */
    text-align: center;
    color: black;
    background: lightgrey;
    margin: 0px;
    padding: 5px;
}

.stu-standardDiv{
  margin-left: 15rem;
  margin-right: 0;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .stu-standardDiv {
      margin-left: inherit;
      margin-right: inherit;
      padding: 5px;
  }
}

.upload-cnt {
  margin-bottom: 1rem;
}

.upload-cnt input {
  color: #598c6a;
  width: 100%;
}

.upload-cnt label {
  color: #598c6a;
  font-size: 16px;
  font-weight: bold;
}


