.boxModel{
  padding: 0;
  height: 100%;
  overflow: scroll !important;
}
.outerDiv{
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.innerDiv{
  width: 100%;
  max-width: 796px;
  align-self: flex-end;
}
.grid{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 5px;
}
.activity-card{
  border: 1px solid black;
  height: 600px;
  width: 300px;
  background-color: lightgray;
}