<app-student-nav-bar></app-student-nav-bar>
<div class="container-fluid">
  <div class="row">
    <div class='col-lg-9 col-sm-12'>
      <div class="mt-1 stu-standardDiv">
        <div class="mt-1 innerDiv">
          <h5 class="mt-4 mb-4"><b>This Week<span *ngIf="studentAssignmentDataTopicWise?.length>0"> 
            > {{studentAssignmentDataTopicWise[0]?.course?.subject?.subject_name}}</span></b>
          </h5> 
          <div *ngIf="studentAssignmentDataSubjectWise?.length > 0">
            <div class="grid">
              <div class='assignment-file-cnt' *ngFor="let data of studentAssignmentDataSubjectWise">
                <div class="assignment-file" (click)="fetchAssignmentDataSubject2(data?.id)"></div>
                <div class="assignment-description"> 
                  <p class="class-name cursor-pointer">{{ data?.subject_name }}</p>
                </div>   
              </div>
            </div>
          </div>

          <div *ngIf="subjectFilterData?.length > 0">
            <div class="grid">
              <div class='assignment-file-cnt' *ngFor="let data of subjectFilterData">
                <div class="assignment-file mt-2" (click)="fetchAssignmentDataTopicWise(data?.id)"></div>
                <div class="assignment-description"> 
                  <p class="class-name cursor-pointer">{{ data?.name }} </p>
                  <p>{{ getDate(data.created_on) }}</p>
                  <p>{{data?.file_count}} Files</p>
                </div>
              </div>
            </div>
          </div>
            <div class="container" *ngIf="studentAssignmentData">
              <div class="cursor-pointer student-assignment-description-cnt" 
                    *ngFor="let data of studentAssignmentDataTopicWise" 
                    (click)="getTopicDetails(data?.id);showComments(data.assignment_answer.id);specificTopicDetail = data; commentText = ''">
                  <div class="row">
                    <div class="due-date">Due Date: {{data?.deadline}}</div>
                    <div class="topicName col-lg-12 col-sm-12 col-12"><p>{{data?.topic}}</p></div>
                    <div class="teacherName col-lg-12 col-sm-12 col-12"><p>Marks: {{data?.assignment_answer?.mark}} / {{data?.max_mark}}</p></div>
                  </div>
              </div>
            </div>
            <div *ngIf="enableComment" class="row assignment-btn-cnt">
              <div class='assignment-topic-name'>
                <p>{{specificTopicDetail?.topic}}</p>
              </div>
              <div style="display:grid; grid-template-columns: 70% 30%;">
                <p>Marks: {{specificTopicDetail?.assignment_answer?.mark}} / 
                  <span style="color:#919191">{{specificTopicDetail?.max_mark}}</span>
                </p>
                <p>Due: {{specificTopicDetail?.deadline}}</p>
              </div>
              <hr style="width: 100%">
              <div class="assignment-description-text col-lg-12 col-sm-12">
                <p><strong>Assignment Description: </strong>{{specificTopicDetail?.description}}</p>
              </div>
              <div class="student-assignment-description-btn-cnt col-lg-12 col-sm-12 col-12">
                <button class="solid-btn-voilet">Download Correction</button>
                <button class="solid-btn-green" (click)="onDownloadClick(specificTopicDetail?.doc_question)">Download Assignment</button>
              </div>
          </div>
          <div *ngIf="studentAssignmentDataSubjectWise?.length == 0 && subjectFilter" style="text-align: center">
            <b>No Data To Display</b>
          </div> 
        </div>
        <!-- <div class="footer-card"></div> -->
      </div>
    </div>

    <div class="activity-column col-lg-3 col-sm-12" *ngIf="enableComment">
      <div class="activity-card">
        <div class="activity-heading">
          <h2>Your Work</h2>
        </div>
        <div class="width-full upload-cnt">
          <label style="text-align: center;" for="upload-notes">Upload Assignment</label>
          <hr>
          <!-- <input name="upload-notes" type="file" id="upload-notes" #fileInput> -->
          <div class="upload-assign-grid">
            <input type="file" id="docs" [(ngModel)]="clearFiles" (change)="uploadedData($event.target)" multiple>
            <span>Total size: {{fileSize | number : '1.2-2'}} Mb</span>
          </div>

          <div class="col-1-1 upload-list-nn">
            <ul id="fileList">
              <li class="li-file-upload" id="lifileupload" *ngFor="let i of bindFileDetails;let ind=index">
                <span class="upload-file-name">{{i.fileName}}</span>
                <span class="upload-file-size">{{i.fileSize}}</span>
                <span class="upload-file-remove">
                  <i (click)="removeItem(ind)" class="fa fa-times" aria-hidden="true"></i>
                </span>
              </li>
            </ul>
          </div>

        </div>
        <div class="width-full text-center">
          <button style="width: 100%;" type="submit" class="solid-btn-download" (click)="uploadDocument()">Submit</button>
        </div>
        <hr>
        <div class="activity-heading">
          <h2>Private Comments</h2>
          <form ngNativeValidate (ngSubmit)="addComment()">
            <div class="comment-div">
              <input class="type-cmnt" type="text" name="comment_typing_box" id="comment-typing-box" [(ngModel)]="commentText" required>
              <button type='submit'><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
            </div>
          </form>
          <ul  class="comments-list" >
            <li [ngClass]="(i.author == studentId)?'other':'other'" *ngFor="let i of commentData">
              <span class="cmnt-text">{{i.content}}</span><span class="cmnt-time">{{formatAMPM(i.timestamp)}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="activity-column col-lg-3 col-sm-12" *ngIf="enableActivity">
      <div class="activity-card">
        <div class="activity-heading">
          <h2>Activity</h2>
        </div>
        <div  class='activity-card-element'>
          <div *ngFor="let data of assignmentActivityData" style="display: flex;flex-direction: rows;">
            <p><span><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            {{data.student?.first_name}}  {{data.student?.last_name}} Has Submitted The Answers
            </p>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
