.boxModel{
  padding: 0;
  height: 100%;
}

.table-head {
  padding: 0 10px;
}

.tt-cnt {
  padding: 10px;
  border-radius: 10px;
}

/* width */
.tt-cnt::-webkit-scrollbar {
  height: 3px;
}

/* Track */
.tt-cnt::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.tt-cnt::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.tt-cnt::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.grid {
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.outerDiv{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.innerDiv{
  width: 100%;
  max-width: 832px;
  height: 622px;
}

.outerGrid{
  display: grid;
  grid-template-columns: repeat(7,1fr);
} 

.navbar-nav  {
flex-direction: inherit;
}
