<div class="container-fluid boxModel">
  <app-student-nav-bar></app-student-nav-bar>
  <div class="mt-1 studentStandardDiv">
    <app-student-class-subject></app-student-class-subject>
    <h5 class="mt-2"><b>This Week</b></h5>
    <div *ngIf="isLoading" class="text-center">
      Loading Data, Please wait... 
  </div>
  <div class="row px-3">
    <div class="col-2" *ngFor="let day of days" style="background: #80808069;">
    <b>{{day}}</b>
    </div>

  </div>
  <div class="row pl-4">
    <div class="col-2">
      <div class="row mt-2" *ngFor="let data of mondayData">
        <div class="main-card">
          <span class="mt-4">
            {{ data?.course?.subject?.subject_name }} <br />
            <span style="font-size: 13px">
              {{ data?.start_time }}
            </span>
          
          </span>
        </div>
      </div>
    </div>
     <!-- tuesday -->
    <div class="col-2">
      <div class="row mt-2" *ngFor="let data of tuesdayData">
        <div class="main-card">
          <span class="mt-4">
            {{ data?.course?.subject?.subject_name }} <br />
            <span style="font-size: 13px">
              {{ data?.start_time }}
            </span>
          
          </span>
        </div>
      </div>
    </div>
     <!-- wednesday -->
     <div class="col-2">
      <div class="row mt-2" *ngFor="let data of wednesdayData">
        <div class="main-card">
          <span class="mt-4">
            {{ data?.course?.subject?.subject_name }} <br />
            <span style="font-size: 13px">
              {{ data?.start_time }}
            </span>
          
          </span>
        </div>
      </div>
    </div>
     <!-- thrusday -->
     <div class="col-2">
      <div class="row mt-2" *ngFor="let data of thrusdayData">
        <div class="main-card">
          <span class="mt-4">
            {{ data?.course?.subject?.subject_name }} <br />
            <span style="font-size: 13px">
              {{ data?.start_time }}
            </span>
          
          </span>
        </div>
      </div>
    </div>
     <!-- friday -->
     <div class="col-2">
      <div class="row mt-2" *ngFor="let data of fridayData">
        <div class="main-card">
          <span class="mt-4">
            {{ data?.course?.subject?.subject_name }} <br />
            <span style="font-size: 13px">
              {{ data?.start_time }}
            </span>
          
          </span>
        </div>
      </div>
    </div>
     <!-- saturday -->
     <div class="col-2">
      <div class="row mt-2" *ngFor="let data of saturdayData">
        <div class="main-card">
          <span class="mt-4">
            {{ data?.course?.subject?.subject_name }} <br />
            <span style="font-size: 13px">
              {{ data?.start_time }}
            </span>
          
          </span>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>