.boxModel{
  padding: 0;
  height: 100%;
  /* overflow: scroll !important; */
}
.outerDiv{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.innerDiv{
  width: 100%;
  max-width: 832px;
  height: 622px;
}

.outerGrid{
  display: grid;
  grid-template-columns: repeat(6,1fr);
}

.outerGridBox{
  
}