#subscribe {
    background-image: linear-gradient(45deg, #2c8148, #33d469 );
    padding: 0 0 5rem 0 ;
}

.sec-heading-txt {
    color: #f1fafd!important;
}

button {
    margin-top: 1rem;
    width: 100%!important;
}

@media screen and (max-width: 600px) {
    button {
        width: 50%!important;
    }
}

input {
    margin-top: 1rem;
    width: 100%;
    padding: 10px 10px 10px 50px;
    font-size: 18px;
    border-radius: 100px;
    border: none;
}

h2.sec-heading-txt:after, h2.sec-heading-txt:before {
    background-color: #11331c!important;
  }
  
  h2.sec-heading-txt:after {
    right: 50%;
  }
  
  h2.sec-heading-txt:before {
    right: 51%;
  }