<section id='subscribe'>
    <div class='container'>
      <div class="row">
        <div class="sec-heading-cnt col-lg-12 col-md-12 col-sm-12">
          <h2 class='sec-heading-txt'>SUBSCRIBE TO OUR NEWSLETTER</h2>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <input type="text" name="email" placeholder="Enter Your Email">
            </div>
            <div class="col-lg-4">
                <button class="home-voilet-btn">Subscribe</button>
            </div>
        </div>
      </div>
    </div>
  </section>
