section{
    font-family: 'Lato', sans-serif;
}

label{
  margin-left: -13px;
}

.home{
    margin-top: 6rem;
    font-size: 3.125rem;
    text-align: center;
  }

  .setPwd{
    margin-top: 8rem;
    font-size: 2.5rem;
    text-align: center;
  }

  .pwd-img img {
      width: 100%;
      height: 100%;
  }

  .inputBox{
    border-right: 0;
    border: 0 0 1px 0;
    border-top: 0px;
    border-left: 0;
    border-bottom: 2px solid black;
    border-radius: 0px;
}

.eyeclose{
  margin-left: -40px;
}

.btn-submit{
  background-color: #5B86E5;
  color: white;
  border-radius: 40px;
  margin-left: 134px;
}