.boxModel{
    padding: 0;
    height: 100%;
}

.live-card{
    width: 100%;
    position: relative;
    border-radius: 10px;
}

.now-status {
    top: 0;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 4px 14px;
    color: #313131!important;
    z-index: 2;
}

.img-cnt {
    width: 100%;
}

.img-cnt img {
    width: 100%;
}

.live-card:before {
    content: '';
    background-image: linear-gradient(45deg, #abd5da, #88b2b9);
    opacity: 0.25;    
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    border-radius: 10px;
    z-index: 1;
}

.live-card img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgb(150, 206, 255);
    box-shadow: 0 0 3px 0  rgb(79, 111, 139);
}

.now-status .text-left {
    font-size: 24px;
}

.startNow{
    display: flex;
    justify-content:flex-end; 
    right: 0;
    color: #313131;
    font-size: 24px;
    cursor: pointer;
}

.class-in-div{
    position: absolute  ;
    bottom: 0;
    color: #313131;
    padding: 4px 14px;
    font-size: 24px;
    z-index: 2;
}

.nav-link b .active{
    border-bottom: 1px solid rgb(15, 15, 182);
}

.settings-icon{
    position: absolute;
    right: 24rem;
    top: 4rem;
}

.stats h1 {
    color: #9e48b9;
  }
  
  .stats-text {
    font-size: 14px;
  }
  
@media screen and (max-width: 600px) {
    .stats h1 {
      font-size: 1.5rem;
    }
    .stats-text {
      font-size: 10px;
    }
}

.classes-container {
    margin: .5rem 0;
    position: relative;
  } 

.carousel-control-prev {
    right: 30px!important;
    left:auto;
}

.carousel-control-next, .carousel-control-prev {
    display: block;
    bottom: auto;
    width: fit-content;
}

.carousel-control-next-icon i, .carousel-control-prev-icon i{
  color: #303030;
}

.activity-head h5 {
    font-size: 22px;
}

.activity-head span {
    float: right;
    font-size: 14px;
}

.today-card{
    height: 100%;
    width: 100%;
    background-color: lightgray !important;
    border-radius: 10px;
}
  
.today-card img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 1;
}
  
.today-card p{
    bottom: 0;
    position: absolute;
    z-index: 2;
    padding: 10px 10px;
    color: #313131;
    margin: 0;
    font-size: 24px;
}

.carousel-overlay {
    position: relative;
}


.carousel-overlay:after {
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: linear-gradient(45deg, #abd5da, #88b2b9);
    position: absolute;
    top: 0;
    content: '';
    left: 0;
    opacity: 0.30;
    border-radius: 10px;
}

@media only screen and (max-width: 600px){
    .activityDiv {
    margin-top: 10px;
    max-width: 350px !important;
    }
}

/* .now-activity-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30px auto;
  column-gap: 5px;
}   


.now-child-grid {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.activity-child-grid {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: stretch;
}

.activity-card-dashboard{
    border-radius: 10px;
    position: relative;
    height: 100%;
    padding: 5px 14px;
}

.activity-img-dashboard {
    background-image: url("../../assets/images/prize.jpg");
    position: absolute;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

.activity-card-dashboard:after {
    content: '';
    background: #006272;
    border: 2px solid #4a9fe3;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    opacity: 0.2;
}

.activity-status {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    font-size: 24px;
    top: 0;
}

@media screen and (max-width: 600px) {
    .activity-img-dashboard {
        background-image: url("../../assets/images/prize-sq.jpg");
        position: absolute;
        top: 0;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 100%;
        width: 100%;
    }

    .activity-status {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        font-size: 24px;
        top: 0;
    }
}

@media screen and (max-width: 600px) {
    .now-activity-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr 9fr);
        row-gap: 10px;
      }

    .d-now {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        justify-self: stretch;
    }
    .now-child-grid {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    
    .d-activity {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
        justify-self: stretch;
    }
    .activity-child-grid {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
        justify-self: stretch;
        overflow: hidden;
    }   
}
 */
