a b{
    color: black;
    cursor: pointer;
}

a b:hover{
    color: blue;
}


.boxModel{
    padding: 0;
    height: 100%;
    overflow: scroll;
}

.live-card{
    border: 1px solid black;
    height: 200px !important;
    width: 100%;
    background-color: lightgray;
}

.activity-card{
    border: 1px solid black;
    height: 200px !important;
    width: 100%;
    background-color: lightgray;
}

.startNow{
    display: flex;
    justify-content:flex-end; 
}

.carousel-control-next{
    top: -130px !important;
    right: 0 !important;
}
  
.carousel-control-prev{
    top: -133px !important;
    left: 520px !important;
}

.class-in-div{
    margin-top: 7.5rem;
}

.nav-link b .active{
    border-bottom: 1px solid rgb(15, 15, 182);
}

.settings-icon{
    position: absolute;
    right: 24rem;
    top: 4rem;
}