<section class="container-fluid">
    <div class="standardDiv" style="padding-bottom: 5rem;">
        <div class="row">
            <div class="col-12">
                <app-classes></app-classes>
            </div>
        </div>
        <div class="img-cnt">   
            <img src="../../assets/images/main-v.png" alt="main"> 
        </div>
        
        <!-- Don't Delete    Don't Delete    Don't Delete    Don't Delete -->
        <!-- <div class="stats row mt-3" *ngIf="true">
            <div class="col-3 col-lg-3 col-md-3 text-center">
                <h1><b>3</b></h1>
                <p class="stats-text"><b>HW Pending</b></p>
            </div>
            <div class="col-3 col-lg-3 col-md-3 text-center">
                <h1><b>98%</b></h1>
                <p class="stats-text"><b>Attendance</b></p>
            </div>
            <div class="col-3 col-lg-3 col-md-3 text-center">
                <h1><b>68%</b></h1>
                <p class="stats-text"><b>Average</b></p>
            </div>
            <div class="col-3 col-lg-3 col-md-3 text-center">
                <h1><b>1</b></h1>
                <p class="stats-text"><b>Testing</b></p>
            </div>
        </div> -->
        <!-- Don't Delete    Don't Delete    Don't Delete    Don't Delete -->

        <hr>
        <div class="mt-3 classes-container col-lg-12 col-sm-12 col-md-12" *ngIf="hideJoin">
            <h5 ><b>Classes Today</b>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style="width: 15px;
                    height: 15px;"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true" style="width: 15px;
                    height: 15px;"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                    <span class="sr-only">Next</span>
                </a>
            </h5>
            <div class="myCarousel-container">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div *ngFor="let data of todaysTimeTable;let i = index"
                            [ngClass]="{'active' : i == 0}" class="carousel-item row">
                            <div class="col-lg-3 col-sm-6 col-6">
                                <div class="today-card">
                                    <div class='carousel-overlay'>
                                        <img class='image' src='../../assets/images/leaf.png'>
                                    </div> 
                                    <p>
                                        {{data.class_of.class_name}} {{data.class_of.section}}<br>
                                        {{getStartTime(data.start_time)}}
                                    </p>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <hr>
        <div class="mt-2">
            <div class="now-activity-grid">
                <div class="activity-head row">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-12">
                        <h5><b>Now</b></h5>
                    </div>
                    <!-- <span *ngIf="isClass">Next Class in </span>
                    <span style="color:rgb(189, 26, 26)">{{ getNextClass(todaysTimeTable) }}</span> -->
                </div>
                <div class="activity-head row">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-12">
                        <h5><strong>Activity</strong></h5>
                    </div>
                    <!-- <div class="col-lg-6 col-sm-6 col-md-6 col-6">
                        <span><a href="">This Week</a> | <a href=''>All Time</a></span>
                    </div> -->
                </div>
                <div class="now-child-grid" *ngIf="hideJoin">
                    <div class="live-card mr-3" >
                        <img src='../../assets/images/leaf.png' alt='img'/>
                        <div class='now-status'>
                            <div class="text-left mr-2">
                                <!-- <p><span class="red-dot"></span> Overdue</p> -->
                            </div>
                            <div class="startNow">
                               <a (click)="createMeeting();" 
                                    target="_new"><b>Start Now ></b></a>
                            </div>
                        </div>
                        <div class="class-in-div">
                            <span *ngIf="todaysTimeTable?.length>0">
                                <!-- <b>{{data.class_of.class_name}} {{data.class_of.section}}</b> -->
                                <b>{{todaysTimeTable[0]?.class_of?.class_name}} {{todaysTimeTable[0]?.class_of?.section}}</b>
                                <br>
                                {{ teacherService.convertFrom24To12Format((todaysTimeTable[0]?.start_time)) }}  
                                <!-- <span *ngIf="isClass">Next Class in </span><span style="color:rgb(55, 68, 252)">{{ getNextClass(todaysTimeTable) }}</span> -->
                            </span>
                        </div>
                    </div>
                </div>
                <div class="activity-child-grid" *ngIf="hideJoin">
                    <div class="activity-card-dashboard">
                        <div class="activity-status"> 
                            <div>
                                <p><span class="green-dot"></span> King of the Ring</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="mt-4 mb-4">
    <router-outlet></router-outlet>
</section> -->