<app-home-header *ngIf="!fromHome"></app-home-header>
<section id="footer" class="contact-row">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-12 col-sm-12">
        <h2 class="homeNavbrand">VAM SCHOOL</h2><hr>
        <p class="address"><i class="fa fa-building" aria-hidden="true"></i>
          Central Spine, Vidyadhar Nagar, Jaipur, Rajasthan 302039, India.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12"></div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="social-media-cnt">
          <p>Follow us on: </p><hr>
          <div class="media-icons">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
          <div class='contact-details'>
            <p><i class="fa fa-phone" aria-hidden="true"></i> +917688884790</p>
            <p><i class="fa fa-whatsapp" aria-hidden="true"></i> +917688884790</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>