<app-home-header *ngIf="!fromHome"></app-home-header>
<section id="contact" class="contact-row" style="margin-top: 200px;">
  <div class="col-12">
   <div class="row">
     <div class="col-5 m-5">
      <span class="homeNavbrand"><b>VAM</b></span>
      <p class="mb-5">
        <b>Central Spine, Vidyadhar Nagar, Jaipur,
          <br>
          Rajasthan 302039, India.
          <br>
            +917688884790
        </b>
      </p>
     </div>
     <!-- <div class="col-4 mt-5">
       <b>
         <a href="#" class="footer">About Us</a>
       </b>
       <br>
       <b>
         <a href="" class="footer">Careers</a>
       </b>
       <br>
       <b>
         <a href="" class="footer">Privacy Policy</a>
       </b>
       <br>
       <b>
         <a href="" class="footer">Terms and Conditions</a>
       </b>
       <br>
       <b>
         <a href="" class="footer">User Guidance</a>
       </b>
     </div> -->
     <div class="col-2 mt-5">
       <b>Follow us on: </b><br>
       <div class="mt-4">
        <img src="../../assets/images/whatsapp.png" alt="whatsapp" class="mr-2">
        <img src="../../assets/images/twitter.png" alt="twitter" class="mr-2">
        <img src="../../assets/images/fb.png" alt="fb" class="fbIcon">
       </div>
     </div>
   </div>
  </div>
</section>