#footer {
    margin-top: 2rem;
    padding: 1rem 0;
    height: auto;
}

#footer hr {
    background: #fff;
}
.contact-row{
    height: 263px;
    background-color: #073b4c;
}

#footer p{
    color: #8ea942;
}

#footer h2{
    color: #598c6a;
}

.social-media-cnt i{
    color: #598c6a;
    font-size: 2rem;
    margin: 0 1rem;
}

.social-media-cnt i:hover{
    color:#8ea942;
}

.social-media-cnt {
    text-align: center;
    justify-content: center;
}

.contact-details {
    padding-top: 1rem;
}

.contact-details i {
    font-size: 1rem;
}

.calling span::before {
    content: '';
    width: 0px;
    height: 1px;
    background: #4caf50;;
    position: absolute;
    justify-content: center;
    transition-property: 'width';
    transition-duration: 0.5s;
}

.calling span:hover::before {
    width: 80px;
}

.whatsapp span::before {
    content: '';
    width: 0px;
    height: 1px;
    background: #4caf50;;
    position: absolute;
    justify-content: center;
    transition-property: 'width';
    transition-duration: 0.5s;
}

.whatsapp span:hover::before {
    width: 80px;
}
