#footer {
    margin-top: 2rem;
    padding: 1rem 0;
    height: auto;
}

h3 {
    color: #ffffff;
    font-size: 22px;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
    justify-content: end;
}

#footer hr {
    background: #fff;
}
.contact-row{
    height: 263px;
    background-color: #073b4c;
}

#footer p{
    color: #6ece20;
}

#footer h2{
    color: #ffffff;
}

.social-media-cnt i{
    color: #ffffff;
    font-size: 2rem;
    margin: 0 1rem;
    transition-duration: 0.2s;
}

.social-media-cnt i:hover{
    color:#6ece20;
}

.social-media-cnt {
    text-align: center;
    justify-content: center;
}

.contact-details {
    padding-top: 1rem;
}

.contact-details i {
    font-size: 1rem;
}

.hover-animation span::before {
    content: '';
    width: 0px;
    height: 2px;
    background: #6ece20;;
    position: absolute;
    justify-content: center;
    transition-property: 'width';
    transition-duration: 0.5s;
}

.hover-animation span:hover::before {
    width: 80px;
}

.hover-animation span::before {
    content: '';
    width: 0px;
    height: 2px;
    background: #6ece20;;
    position: absolute;
    justify-content: center;
    transition-property: 'width';
    transition-duration: 0.5s;
}

.hover-animation span:hover::before {
    width: 80px;
}
