<nav class="navbar navbar-expand-lg" style="background-color: lightgrey; height: 35px;">
    <div class="navbar-collapse justify-content-left" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link mr-3 titleColor">
                    <b>All</b>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 titleColor">
                    <b >Physics</b>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 titleColor">
                    <b >Chemistry</b>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 titleColor">
                    <b >Bio</b>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 titleColor">
                    <b >Maths</b>
                </a>
            </li>
        </ul>
    </div>
</nav>