<section id='features'>
  <div class='container'>
    <div class="row">
      <div class="sec-heading-cnt col-lg-12 col-md-12 col-sm-12">
        <h2 class='sec-heading-txt'>FEATURES</h2>
      </div>
      <div class="sec-subheading-txt col-lg-12 col-md-12 col-sm-12">
        <h3>A good education is the foundation of better future.</h3>
      </div>
    </div>
    
    <div class="features-cnt row">
      <div class="col-lg-3 col-md-4 col-sm-12 col-12">
        <div class="feature-elements">
          <lottie-player src="../../assets/anim/gamification.json"  background="transparent"  speed="1" loop autoplay></lottie-player>
          <h4>Gamification</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-12">
        <div class="feature-elements">
          <lottie-player src="../../assets/anim/userEngage.json"  background="transparent" speed="1" loop autoplay></lottie-player>
          <h4>User Engagement</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-12">
        <div class="feature-elements">
          <lottie-player src="../../assets/anim/test.json"  background="transparent"  speed="1" loop  autoplay></lottie-player>
          <h4>Test Features</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-12">
        <div class="feature-elements">
          <lottie-player src="../../assets/anim/group.json"  background="transparent"  speed="1" loop  autoplay></lottie-player>
          <h4>Discussion Groups</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-12">
        <div class="feature-elements">
          <lottie-player src="../../assets/anim/ai.json"  background="transparent"  speed="1" loop  autoplay></lottie-player>
          <h4>AI/ML</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-12">
        <div class="feature-elements">
          <lottie-player src="../../assets/anim/arvr.json"  background="transparent"  speed="1" loop  autoplay></lottie-player>
          <h4>AR/VR</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-12">
        <div class="feature-elements">
          <lottie-player src="../../assets/anim/cloud.json"  background="transparent"  speed="1" loop autoplay></lottie-player>
          <h4>Cloud Secure Data</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-12">
        <div class="feature-elements">
          <lottie-player src="../../assets/anim/ui.json"  background="transparent"  speed="1" loop  autoplay></lottie-player>
          <h4>Interactive UI</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="feature-content">
  <div class="container">
    <div class="container-fluid why-us-sub1">
        <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 d-flex flex-column justify-content-center p-5" style="padding: 0;">
          <div class="why-us-img">
            <img src="../../assets/images/card1.png" alt="loading">
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column justify-content-center p-5"> 
          <div class="icon-box normal-box"> 
            <h4 class="title">
              ARTIFICIAL INTELLIGENCE
            </h4>
            <p class="description">AI LMS’ allow learning and development managers to identify areas of knowledge which need to be consolidated, enabling the emphasis and optimisation of essential information. AI also provides accurate recommendations on how best to present and curate information aligned with the needs and preferences of specific users.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid why-us-sub">
      <div class="row index ">
        <div class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column justify-content-center p-5">
          <div class="icon-box">              
            <h4 class="title">
              HYBRID LEARNING
            </h4>
            <p class="description">Hybrid learning is where students learn through a mix of in-person and online activities. Students are encouraged to learn from one another in in-class instruction sessions whereas the multimedia shared online enhances and reinforces discussions in class. Hybrid learning is synonymous with blended learning.</p>  
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 d-flex flex-column justify-content-center p-5" style="padding: 0;">
          <div class="why-us-img">
            <img src="../../assets/images/card1.png" alt="loading">
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid why-us-sub1">
      <div class="row index">
        <div class="col-lg-4 col-md-4 col-sm-12 d-flex flex-column justify-content-center p-5" style="padding: 0;">
          <div class="why-us-img">
            <img src="../../assets/images/card1.png" alt="loading">
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column justify-content-center p-5">
          <div class="icon-box normal-box">
            <h4 class="title">
              GAMIFICATION
            </h4>
            <p class="description">Gamification helps increase user engagement and thereby make students more interested in studies. Through reward based assessments, VAM encourages students to finish them in time and study harder thereby increasing results and productivity.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

