/* Color theme 
    1. #806ea2(Voilet)
    2. #8ea942 (Light Green)
    3. #9e48b9 (Purple) => Primary 
    4. #598c6a (Dark Green) => Secondary 
    5. #bb5b4a (Red) => Secondary
*/

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body { 
  font-family: 'Lato', sans-serif!important;
  min-height: 100%!important;
  min-width: auto!important;
  height: 100%!important;
  width: 100%!important;
  overflow: inherit!important;
}

body {
    display: block;
    margin: 0;
}

a{
  cursor: pointer;
}

p {
  font-family: 'Lato', sans-serif;
}

.chapter{
    color: rgba(0,0,0,.5);
}

.cursor-pointer {
  cursor: pointer;
}

.text-overflow-ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link-blue {
  color:#0e7dff;
}

.solid-btn-voilet {
  color: #9e48b9;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
  transition-duration: .5s;
  margin: 4px;

}

.solid-btn-voilet:hover {
  color: white;
  border: 1px solid #9e48b9;
  border-radius: 5px;
  background-color: #9e48b9;
}

.solid-btn-green {
  color: #598c6a;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
  transition-duration: .5s;
  margin: 4px;
}

.solid-btn-green:hover {
  color: white;
  border: 1px solid #598c6a;
  border-radius: 5px;
  background-color: #598c6a;
}

.standardDiv{
  margin-left: 15rem;
  margin-right: 15rem;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .standardDiv {
      margin-left: inherit;
      margin-right: inherit;
      padding: 5px;
  }
}

.img-cnt, #classes, .assignment-nav {
  background-color: aliceblue;
  border: 1px solid #96ceff;
  margin-top: 10px;
  border-radius: 10px;
}

@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 

.liveBtn{
    width: 180px;
    background: transparent linear-gradient(256deg, var(--unnamed-color-36d1dc) 0%, #A0FFC3 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(256deg, #36D1DC 0%, #A0FFC3 100%) 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 1;
}

.liveBtnVideo{
  background: transparent linear-gradient(256deg, var(--unnamed-color-36d1dc) 0%, #A0FFC3 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(256deg, #36D1DC 0%, #A0FFC3 100%) 0% 0% no-repeat padding-box;
  border-radius: 18px;
  opacity: 1;
}

.welcome{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    backdrop-filter: blur(30px); 
    -webkit-backdrop-filter: blur(30px);
    height: 60px;
}


/* .navbar-light .navbar-nav .active.nav-link{
    background-color: #007bff;
    border-radius: .25rem;
} */

.myOverlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 20%;

}
.rotate {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    -ms-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
   }
   
   @-ms-keyframes spin { 100% { -ms-transform: rotate(360deg); } }
   @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
   @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
   @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


   @media only screen and (max-width: 360px) {
    .login-image{
        display: none;
    }
    .wtchVideo{
      text-align: left;
    }
    .downloadBtn{
      margin-left: -32px !important;
    }
    .addBtn{
      margin-left: auto;
      top: 30px;
      left: 22px;
      color: hsl(106deg 100% 40%);
    }

    .sideBarLS{
      display: none;
    }
    .navSideBarForSS{
      display: block;
    }
    #agora_local{
      margin:auto;
      height: 500px;
      width: 500px;
      display: inline-block;
    }
} 

.sticky{
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  z-index: 2;
  background: #ec407a;
  padding: 0.5rem 1rem;
  transition-duration: 0.5s ;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .login-image{
        display: none;
    }
    .wtchVideo{
      text-align: left;
    }
    .downloadBtn{
      margin-left: -25px;
    }
    .addBtn{
      margin-left: auto;
      top: 30px;
      left: 22px;
      color: hsl(106deg 100% 40%);
      position: absolute;
    }
    .sideBarLS{
      display: none;
    }
    .navSideBarForSS{
      display: block;
    }

    .imgResponsive{
      max-width: 100%;
      height: auto;
    }

    .contact-us{
      padding-top: 50px !important;
    }
    
    .teacher-student-list{
      width: 100% !important;
    }
      
    .notesSectionTeacher{
      top:20px;
    } 
    #agora_local{
      margin:auto;
      height: 500px;
      width: 500px;
      display: inline-block;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .wtchVideo{
    text-align: left;
  }

  .downloadBtn{
    margin-left: auto;
  }
  .addBtn{
    margin-left: auto;
    top: 30px;
    left: 22px;
    color: hsl(106deg 100% 40%);
    position: absolute;
  }
  .sideBarLS{
    display: none;
  }
  .navSideBarForSS{
    display: block;
  }
  #agora_local{
    height: 500px;
    width: 500px;
    display: inline-block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .wtchVideo{
    text-align: right;
  }
  .downloadBtn{
    margin-left: auto;
    /* width: 180px; */
  }
  .addBtn{
    margin-left: auto;
    top: 30px;
    left: 22px;
    color: hsl(106deg 100% 40%);
    position: absolute;
  }
  .navSideBarForSS{
    display: none;
  }
  .sideBarLS{
    display: block;
  }
  #agora_local{
    height: 551px;
    width: 1142px;
    display: inline-block;
  }
}
 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .wtchVideo{
    text-align: right;
  }
  .downloadBtn{
    margin-left: auto;
    top: 30px;
    left: 22px;
    color: hsl(106deg 100% 40%);
    position: absolute;
    /* width: 180px; */
  }

  .addBtn{
    margin-left: auto;
    top: 30px;
    left: 22px;
    color: hsl(106deg 100% 40%);
    /* width: 180px; */
  }
  .navSideBarForSS{
    display: none;
  }
  .sideBarLS{
    display: block;
  }
  #agora_local{
    height: 551px;
    width: 1142px;
    display: inline-block;
  }
}
.assignment-card{
  background-image: url('assets/images/folderIcon.svg');
  background-position-x: center;
  background-size: 132px 136px;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .wtchVideo{
    text-align: right;
  }
  .downloadBtn{
    margin-left: auto;
    /* width: 180px; */
  }
  .addBtn{
    margin-left: auto;
    top: 30px;
    left: 22px;
    color: hsl(106deg 100% 40%);
    position: absolute;
  }
  .navSideBarForSS{
    display: none;
  }
  .sideBarLS{
    display: block;
  }
  #agora_local{
    height: 551px;
    width: 1142px;
    display: inline-block;
  }
}

#zmmtg-root {
  display: none;
}

.font-size14{
  font-size: 14px;
}

.font-size12{
  font-size: 12px !important;
}

.studymat-activity-div{
  margin-left: 26rem;
}

.activity-box{
  background-color: #D3D3D3;
  border: 1px solid black;
  height: 400px;
  width: 25%;
  margin-left: 10px;
}

.main-card{
  color: #0e7dff;
  border: .5px solid #9ecbf3 !important;
  height: 100%;
  width: 100%;
  background-color: #f0f8ff !important;
  padding: 4px;
}

.main-card-study{
  border: 1px solid black !important;
  height: 120px !important;
  width: 152px !important;
  background-color: lightgray !important;
  padding: .5rem;
}

.subject{
  position: relative !important;
  bottom: -8px !important;
}

.footer-card{
  background-color: aliceblue;
  border: 1px solid #96ceff;
  margin-top: 10px;
  border-radius: 10px;
  height: 20vh;
}
.footer-div{
  height: 120px !important;
  background-color: #A9A9A9 !important;
}
.activity-image{
  width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 10px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.sec-heading-txt {
  font-weight: 600;
  font-family: 'Mulish' sans-serif;
  justify-content: center;
  text-align: center;
  color: #073b4c;
}

h2.sec-heading-txt:after, h2.sec-heading-txt:before {
  content: "";
  width: 20px;
  height: 4px;
  background-color: #e91e63;
  position: absolute;
  justify-self: center;
  top: 80px;
  transform: rotate(30deg);
}

h2.sec-heading-txt:after {
  right: 50%;
}

h2.sec-heading-txt:before {
  right: 51%;
}

.sec-heading-cnt {
  padding: 2rem 0;
}