/* Color theme 
    1. #806ea2(Voilet)
    2. #8ea942 (Light Green)
    3. #9e48b9 (Purple) => Primary 
    4. #598c6a (Dark Green) => Secondary 
    5. #bb5b4a (Red) => Secondary
*/

@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

@font-face {
  font-family: MontserratExtraBold ;
  src: url('assets/fonts/Montserrat/Montserrat-ExtraBold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: MontserratRegular ;
  src: url('assets/fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: bold;
}

@font-face {
  font-family: MontserratBold ;
  src: url('assets/fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: OleoScriptBold ;
  src: url('assets/fonts/OleoScriptSwashCaps/OleoScriptSwashCaps-Bold.ttf');
  font-weight: bold;
}
 
@font-face {
  font-family: MulishBold ;
  src: url('assets/fonts/Mulish/Mulish-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: MulishExtraBold ;
  src: url('assets/fonts/Mulish/Mulish-ExtraBold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: MulishRegular ;
  src: url('assets/fonts/Mulish/Mulish-Regular.ttf');
  font-weight: bold;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body { 
  font-family: MulishBold!important;
  min-height: 100%!important;
  min-width: auto!important;
  height: 100%!important;
  width: 100%!important;
  overflow: inherit!important;
}

body {
    display: block;
    margin: 0;
}

p {
  font-family: MulishBold;
}

a{
  cursor: pointer;
}

@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 


.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-loading img {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.sec-heading-cnt {
  position: relative;
}

.font-size14{
  font-size: 14px;
}

.font-size12{
  font-size: 12px !important;
}

.width-full {
  width: 100%;
}

.text-center {
  justify-content: center;
  text-align: center;
}
.chapter{
    color: rgba(0,0,0,.5);
}

.cursor-pointer {
  cursor: pointer;
}

.text-overflow-ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link-blue {
  color:#0e7dff;
}

.solid-btn-voilet {
  color: #9e48b9;
  border: 1.5px solid;
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
  transition-duration: .5s;
  margin: 4px;

}

.solid-btn-voilet:hover {
  color: white;
  border: 1.5px solid #9e48b9;
  border-radius: 5px;
  background-color: #9e48b9;
}

.solid-btn-green {
  color: #598c6a;
  border: 1.5px solid;
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
  transition-duration: .5s;
  margin: 4px;
}

.solid-btn-green:hover {
  color: white;
  border: 1.5px solid #598c6a;
  border-radius: 5px;
  background-color: #598c6a;
}

.add-file {
  width: 30%;
  min-width: fit-content;
  background: #29b6f6;
  color: white;
  text-align: center;
  border-radius: 30px;
  position: relative;
  padding: 5px;
}

.add-file span {
  font-size: 18px;
  font-weight: bold;
}

.standardDiv{
  margin-left: 15rem;
  margin-right: 15rem;
  padding: 0 10px 10px 10px;;
}

button.home-voilet-btn{
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  background-image: linear-gradient(45deg, #9e48b9, #670785 ) ;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition-duration: 0.5s;
}

button.home-voilet-btn:hover {
  width: 155px;
  background-image: linear-gradient(45deg, #ca67e9, #8f43a7 ) ;
  box-shadow: 0 2px 5px 0 #4a065f;
}

@media screen and (max-width: 600px) {
  .standardDiv {
      margin-left: inherit;
      margin-right: inherit;
      padding: 5px;
  }
}

.red-dot {
  height: 10px;
  width: 10px;
  background-color: #E52828;
  border-radius: 50%;
  display: inline-block;
}

.green-dot {
  height: 10px;
  width: 10px;
  background-color: #43bd1e;
  border-radius: 50%;
  display: inline-block;
}

#classes, .assignment-nav {
  background-color: aliceblue;
  border: 1px solid #96ceff;
  margin-top: 10px;
  border-radius: 10px;
  padding: 0 .5rem!important;
}


.liveBtn{
    width: 180px;
    background: transparent linear-gradient(256deg, var(--unnamed-color-36d1dc) 0%, #A0FFC3 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(256deg, #36D1DC 0%, #A0FFC3 100%) 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 1;
}

.liveBtnVideo{
  background: transparent linear-gradient(256deg, var(--unnamed-color-36d1dc) 0%, #A0FFC3 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(256deg, #36D1DC 0%, #A0FFC3 100%) 0% 0% no-repeat padding-box;
  border-radius: 18px;
  opacity: 1;
}

.welcome{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    backdrop-filter: blur(30px); 
    -webkit-backdrop-filter: blur(30px);
    height: 60px;
}

.myOverlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 20%;

}

.rotate {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    -ms-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
   }
   
   @-ms-keyframes spin { 100% { -ms-transform: rotate(360deg); } }
   @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
   @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
   @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


   @media only screen and (max-width: 360px) {
    .login-image{
        display: none;
    }
    .wtchVideo{
      text-align: left;
    }
    .downloadBtn{
      margin-left: -32px !important;
    }
    .addBtn{
      margin-left: auto;
      top: 30px;
      left: 22px;
      color: hsl(106deg 100% 40%);
    }

    .sideBarLS{
      display: none;
    }
    .navSideBarForSS{
      display: block;
    }
    #agora_local{
      margin:auto;
      height: 500px;
      width: 500px;
      display: inline-block;
    }
} 


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .login-image{
        display: none;
    }
    .wtchVideo{
      text-align: left;
    }
    .downloadBtn{
      margin-left: -25px;
    }
    .addBtn{
      margin-left: auto;
      top: 30px;
      left: 22px;
      color: hsl(106deg 100% 40%);
      position: absolute;
    }
    .sideBarLS{
      display: none;
    }
    .navSideBarForSS{
      display: block;
    }

    .imgResponsive{
      max-width: 100%;
      height: auto;
    }

    .contact-us{
      padding-top: 50px !important;
    }
    
    .teacher-student-list{
      width: 100% !important;
    }
      
    .notesSectionTeacher{
      top:20px;
    } 
    #agora_local{
      margin:auto;
      height: 500px;
      width: 500px;
      display: inline-block;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .wtchVideo{
    text-align: left;
  }

  .downloadBtn{
    margin-left: auto;
  }
  .addBtn{
    margin-left: auto;
    top: 30px;
    left: 22px;
    color: hsl(106deg 100% 40%);
    position: absolute;
  }
  .sideBarLS{
    display: none;
  }
  .navSideBarForSS{
    display: block;
  }
  #agora_local{
    height: 500px;
    width: 500px;
    display: inline-block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .wtchVideo{
    text-align: right;
  }
  .downloadBtn{
    margin-left: auto;
    /* width: 180px; */
  }
  .addBtn{
    margin-left: auto;
    top: 30px;
    left: 22px;
    color: hsl(106deg 100% 40%);
    position: absolute;
  }
  .navSideBarForSS{
    display: none;
  }
  .sideBarLS{
    display: block;
  }
  #agora_local{
    height: 551px;
    width: 1142px;
    display: inline-block;
  }
}
 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .wtchVideo{
    text-align: right;
  }
  .downloadBtn{
    margin-left: auto;
    top: 30px;
    left: 22px;
    color: hsl(106deg 100% 40%);
    position: absolute;
    /* width: 180px; */
  }

  .addBtn{
    margin-left: auto;
    top: 30px;
    left: 22px;
    color: hsl(106deg 100% 40%);
    /* width: 180px; */
  }
  .navSideBarForSS{
    display: none;
  }
  .sideBarLS{
    display: block;
  }
  #agora_local{
    height: 551px;
    width: 1142px;
    display: inline-block;
  }
}
.assignment-card{
  background-image: url('assets/images/folderIcon.svg');
  background-position-x: center;
  background-size: 132px 136px;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .wtchVideo{
    text-align: right;
  }
  .downloadBtn{
    margin-left: auto;
    /* width: 180px; */
  }
  .addBtn{
    margin-left: auto;
    top: 30px;
    left: 22px;
    color: hsl(106deg 100% 40%);
    position: absolute;
  }
  .navSideBarForSS{
    display: none;
  }
  .sideBarLS{
    display: block;
  }
  #agora_local{
    height: 551px;
    width: 1142px;
    display: inline-block;
  }
}

#zmmtg-root {
  display: none;
}


.studymat-activity-div{
  margin-left: 26rem;
}

.activity-box{
  background-color: #D3D3D3;
  border: 1px solid black;
  height: 400px;
  width: 25%;
  margin-left: 10px;
}

.main-card{
  color: #0e7dff;
  border-left: .5px solid #9ecbf3 !important;
  border-bottom: .5px solid #9ecbf3 !important;
  height: 100%;
  width: 100%;
  min-height: 70px;
  background-color: #f0f8ff !important;
  padding: 4px;
}

.main-card-study{
  border: 1px solid black !important;
  height: 120px !important;
  width: 152px !important;
  background-color: lightgray !important;
  padding: .5rem;
}

.subject{
  position: relative !important;
  bottom: -8px !important;
}

.footer-card{
  background-color: aliceblue;
  border: 1px solid #96ceff;
  margin-top: 10px;
  border-radius: 10px;
  height: 20vh;
}
.footer-div{
  height: 120px !important;
  background-color: #A9A9A9 !important;
}
.activity-image{
  width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 10px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.sec-heading-txt {
  justify-content: center;
  text-align: center;
}

.sec-heading-txt {
  font-weight: 600;
  font-family: MontserratExtraBold;
  color: #073b4c;
}

.sec-subheading-txt {
  justify-content: center;
  text-align: center; 
}

.sec-subheading-txt h3 {
  font-weight: 300!important;
  font-size: 20px!important;
  font-family: MulishRegular;
  color: #313131;
}


h2.sec-heading-txt:after, h2.sec-heading-txt:before {
  content: "";
  width: 20px;
  height: 4px;
  background-color: #e91e63;
  position: absolute;
  justify-self: center;
  bottom: 27px;
  transform: rotate(30deg);
}

h2.sec-heading-txt:after {
  right: 50%;
}

h2.sec-heading-txt:before {
  right: 51%;
}

@media screen and (max-width: 600px) {
  h2.sec-heading-txt:before {
  right: 45%;
  }
}
.sec-heading-cnt {
  padding: 2rem 0;
}

.loading {
  position: absolute;
  background: #01848d9e;
  z-index: 100;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
}

.simple-loading {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
}

.progress {
  width: 50%;
  justify-content: center;
}

.progress p {
  position: absolute;
  color: white;
}


/* ----------------------- */
/*  comment Box  */
/* ---------------------- */

.type-cmnt {
  border: none;
  padding: 5px 0 5px 10px;
  border-radius: 50px;
}

  .comment-div {
    display: grid;
    grid-template-columns: 80% 20%;
}

.comment-div i {
  font-size: 30px;
  margin-left: 5px;
  color: white;
  transition-duration: 0.5s;
}

.comment-div i:hover {
  color: #abd5da;
  transform: scale(1.1);
}

/* .comments-list li.other {
  color: #f0f3bd;
  width: fit-content;
  background: #238286;
  padding: 3px 5px;
  margin: 3px 0;
  border-radius: 5px;
  border: 1px solid white;
  position: relative;
} */
 
.comments-list li.me {
  color: #f0f3bd;
  width: fit-content;
  background: #313131;
  padding: 3px 5px;
  margin: 3px 0;
  border-radius: 5px;
  border: 1px solid white;
  position: relative;
  margin-left: auto;
}

.comments-list li span.cmnt-time {
  position: relative;
  bottom: -3px;
  right: 0px;
  font-size: 10px;
  color: #96ceff;
  margin-left: 5px;
}

.comments-list li span.cmnt-text {
  margin-bottom: 10px;
}

.comments-list {
  list-style-type: none;
  padding: 10px;
  border: 1px solid white;
  position: relative;
  margin-top: 1rem;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  overflow-y: scroll;
  height: 250px;
  background: #abd5da;
}

/* width */
.comments-list::-webkit-scrollbar {
  width: 1px;
}

/* Track */
.comments-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.comments-list::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.comments-list::-webkit-scrollbar-thumb:hover {
  background: #666;
}

ul.comments-list > li {
  transform: rotate(-180deg);
}

.showlist {
  list-style-type: none;
}

/* ----------------------- */
/*  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX   */


/* Activity and Private Comment Panel */

.activity-card {
  background-color: #22878b;
  border: 1px solid #96ceff;
  min-height: 60vh;
  height: 100%;
  width: 300px;
  padding: 15px 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.upload-cnt {
  margin-bottom: 1rem;
}

.upload-cnt input {
  color: #598c6a;
  width: 100%;
}
 
.upload-cnt label {
  color: #598c6a;
  font-size: 16px;
  font-weight: bold;
}


@media screen and (max-width: 600px) {
  .activity-card {
    background-color: #22878b;
    border: 1px solid #96ceff;
    min-height: 60vh;
    height: 100%;
    width: 100%;
    padding: 15px 20px;
    position: relative;
  }
}

.activity-card-element p {
  color: #abd5da;
  font-size: 18px;
}

.activity-card-element p:hover {
  color: #ffffff;
}

button.btn.add-comment {
  color: white;
  font-size: 22px;
}

button.btn.add-comment:hover {
  color: #4db6ac;
}

.solid-btn-download {
  color: white;
  border: 1.5px solid #4db6ac;
  border-radius: 5px;
  background-color: transparent;
}

.solid-btn-download:hover {
  color: white;
  border: 1.5px solid #ffffff;
  border-radius: 5px;
  background-color: #4db6ac;
}

.upload-cnt {
  margin-top: 1rem;
}

.upload-cnt label {
  font-size: 18px;
  color: white;
}

.upload-cnt input {
  color: #81d4fa;
  width: 100%;
  margin-top: 0.5rem;
}


.activity-column {
  flex: 1 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
  padding: .5rem 1rem;
}
.activity-heading {
  margin-top: 10px;
  width: 100%;
  text-align: left;
  padding: 5px;
}

.activity-heading h2 {
  font-size: 24px;
  font-weight: bold;
  color: #b3f7ff;
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* Dashboard Footer  */

.now-activity-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30px auto;
  column-gap: 5px;
}   


.now-child-grid {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.activity-child-grid {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: stretch;
    overflow: hidden;
}

.activity-card-dashboard{
    border-radius: 10px;
    position: relative;
    height: 100%;
    padding: 5px 14px;
}

.activity-img-dashboard {
    background-image: url("assets/images/prize-sq.jpg");
    position: relative;
    background-size: auto 100%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.activity-card-dashboard:after {
    content: '';
    background: #006272;
    border: 2px solid #4a9fe3;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    opacity: 0.2;
}

.activity-status {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    font-size: 24px;
    top: 0;
}

@media screen and (max-width: 600px) {
    .activity-img-dashboard {
        background-image: url("assets/images/prize-sq.jpg");
        position: absolute;
        top: 0;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 100%;
        width: 100%;
    }

    .activity-status {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        font-size: 24px;
        top: 0;
    }
}

@media screen and (max-width: 600px) {
    .now-activity-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr 9fr);
        row-gap: 10px;
      }

    .d-now { 
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        justify-self: stretch;
    }
    .now-child-grid {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    
    .d-activity {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
        justify-self: stretch;
    }
    .activity-child-grid {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
        justify-self: stretch;
    }   
}

