.landing-page {
  padding-top: 100vh;
  position: relative;
  overflow: hidden;
  background-size: cover;
  
}

.landing-image, .landing-image:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* 
.landing-image:before {
  content: "";
  display: block;
  background-color: rgba(15,15,15,.3);
  z-index: 1;
} */

#myVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 600px) {
  .landing-image {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
  }
}

.video-overlay:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #edf0ffc7;
  opacity: 0.5;
  top: 0;
  left: 0;
  position: absolute;
}

.container.cnt-txt {
  padding-left: 5rem;
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.home-txt {
  top: 0;
  position: relative;
  height: 50%;
  width: 100%;
}

.home-txt h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #7127a9!important;
  font-family: 'Montserrat', sans-serif;;
}

@media screen and (max-width: 998px) {
  .home-txt h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 600px) {
  .home-txt h1 {
    font-size: 2rem;
  }

  .container.cnt-txt {
    padding-left: 1rem!important;
  }

  .landing-page {
    padding-top: 80vh;
  }
}

button.requestDemo.btn {
  background-color: #9e48b9;
  border: 2px solid #9e48b9;
  color: white;
  width: max-content;
  transition-duration: 0.3s;
}

.card{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: -10px 26px 46px #00000029;
  height: 670px;
  margin-top: 15px;
}
  
.loginInputDiv{
  border-bottom: 1px solid #D3D3D3;
}
  
.loginItems{
  font-family: 'Arimo', sans-serif;
}

.scroll-top {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 3rem;
  margin-bottom: 3rem;
  font-size: 40px;
  color: mediumaquamarine;
  z-index: 100;
}

/* .virtual-school {
  color:#4a055f;
  text-shadow: -1px 1px 0 #ffffff,
				  1px 1px 0 #00e1ff,
				 1px -1px 0 #00e1ff,
				-1px -1px 0 #ffffff;
  font-family: 'Limelight', cursive;;
} */

.landing-subheading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200!important;
  color: #724080;
}