<app-home-header></app-home-header>
  <div class="landing-page">
    <div class="landing-image">
      <div class="image"></div>
      <!-- <img src="../../assets/images/landing-home.jpg" alt="img"> -->
    </div>
    <div class="container cnt-txt">
      <div class="home-txt ">
          <h1><span>Welcome to</span><br>
          <span> VAM School</span></h1>
          <button type="button" class="requestDemo btn">Request Demo</button>
      </div>
    </div>
  </div>
<app-home-features></app-home-features>
<app-aboutus [fromHome]="true"></app-aboutus>
<app-contactus [fromHome]="true"></app-contactus>
<router-outlet></router-outlet>