<app-home-header></app-home-header>
  <div id="home" class="landing-page">
    <div class="landing-image">
      <video autoplay muted loop id="myVideo">
        <source src="../../assets/images/girl.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
      <div class="video-overlay"></div>
      <!-- <div class="image"></div> -->
      <!-- <img src="../../assets/images/landing-home.jpg" alt="img"> -->
    </div>
    <div class="container cnt-txt">
      <div class="home-txt ">
          <h1><span>VAM welcome you</span><br>
          <span>to your</span><span class="virtual-school"> Virtual School</span></h1>
          <h2 class="landing-subheading">Spark Productivity from day one.</h2>
          <!-- <button type="button" class="requestDemo btn">Request Demo</button> -->
      </div>
    </div>
  </div>
  <div class="scroll-top"><a (click)="scrollToForm('home')"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a></div>
<app-why-us></app-why-us>
<app-home-features></app-home-features>
<app-aboutus [fromHome]="true"></app-aboutus>
<app-subscribe></app-subscribe>
<app-home-quote></app-home-quote>
<app-contactus [fromHome]="true"></app-contactus>
<router-outlet></router-outlet>