.boxModel{
  padding: 0;
  height: 100%;
  overflow: scroll !important;
}

.main-card-study{
  border: 1px solid black !important;
  height: 120px !important;
  width: 152px !important;
  background-color: lightgray !important;
}

.subject{
  top: 2.5rem;
  margin-left: 10px;
  position: relative;
}

.add-icon{
  cursor: pointer;
  padding: 3rem;
  position: absolute;
  top: 25.5rem;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}
