<div class=" standardDiv" id="mainOuterDiv">
  <section class="outerDiv">
    <div class=" innerDiv">
      <div class="col-lg-12">
        <h5 class="mt-4 mb-4"><b>This Week</b></h5>
      </div> 
      <!-- <div *ngIf="isLoading" class="text-center">
        Loading Data, Please wait...
      </div> -->

      <div class="grid" *ngIf="studentNotesDataSubjectWise?.length > 0">
        <div class="notes-card-cnt " *ngFor="let data of studentNotesDataSubjectWise"
          (click)="fetchNotesDataTopicWise(data?.id);selectedData = data;">
            <div class="notes-card"></div>
            <div class="assignment-description">
              <p class="class-name cursor-pointer"> {{ data?.class_of.class_name }}{{ data?.class_of.section }}</p>
            </div>
        </div>
      </div>

      <div *ngIf="studentNotesDataTopicWise?.length >= 0">
        <div *ngIf="isDatainTopicWise === false">
          <div class="mt-2 mb-2 cursor-pointer" (click)="openForm2()">
            <div class='add-file'>
              <span>Add New Topic <i class="fa fa-plus" aria-hidden="true"></i></span>
            </div>
          </div>
          <p>No Data</p>
        </div>
        <div *ngIf="studentNotesDataTopicWise?.length > 0">
          <div class="mt-2 mb-2" (click)="openForm2()">
            <div class='add-file cursor-pointer'>
              <span>Add New Topic <i class="fa fa-plus" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="grid">
            <div class="notes-card-cnt " *ngFor="let data of studentNotesDataTopicWise"
              (click)="closeForm2();fetchNotesData();selectedNotesData= data;">
              <div class="notes-card"></div>
              <div class="assignment-description">
                <p class="class-name cursor-pointer">{{ data?.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-popup" id="myForm2">
        <form class="form-container" (ngSubmit)='closeForm2();postData()' ngNativeValidate>
          <h1>Add Topic</h1>
          <input type="text" placeholder="Enter topic" name="psw" [(ngModel)]="topic" required>
          <button type="submit" class="solid-btn-green">Save</button>
          <button type="button" class="solid-btn-voilet" (click)="closeForm2()">Close</button>
        </form>
      </div>

      <div *ngIf="notesVideos">
        <div class="grid">
          <div class="notes-card-cnt " (click)="fetchNotes('note')">
            <div class="notes-card"></div>
            <div class="assignment-description">
              <p class="class-name cursor-pointer">Notes</p>
            </div>
          </div>
          <div class="notes-card-cnt " (click)="fetchNotes('vid')">
            <div class="notes-card"></div>
            <div class="assignment-description">
              <p class="class-name cursor-pointer">Videos</p>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="notesData?.length >= 0">
        <div *ngIf="notesData?.length === 0">
          <div class="mt-2 mb-2 cursor-pointer" (click)="openForm()">
            <div class='add-file'>
              <span>Add {{ notesOrVideo }} <i class="fa fa-plus" aria-hidden="true"></i></span>
            </div>
          </div>
          <p>No Data</p>
        </div>
        <div *ngIf="notesData?.length > 0">
          <div class="mt-2 mb-2 cursor-pointer" (click)="openForm()">
            <div class='add-file'>
              <span>Add {{ notesOrVideo }} <i class="fa fa-plus" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="grid">
            <div class="notes-card-cnt " *ngFor="let data of notesData" 
            (click)="closeForm();onNotesClick('' + (data.note ? data.note : data.video))">
            <div class="notes-card-file"></div>
              <div class="assignment-description">
                <p class="class-name cursor-pointer">{{data.name}}</p>
                <!-- <p class="class-subname">{{data.note ? (data.note.slice((Math.max(0, data.note.lastIndexOf(".")) || Infinity) + 1)) : ''}} file</p>  -->
              </div>
            </div>
          </div>
        </div>

        <div class="form-popup" id="myForm">
          <form class="form-container" (ngSubmit)='Validate(notesOrVideo);closeForm()' ngNativeValidate>
            <h1>Add New Topic</h1>
            <input type="text" placeholder="Enter topic" name="psw" [(ngModel)]="newtopic" required>
            <!-- <select class="select-course" name="dfvf" [(ngModel)]="selectedCourse">
              <option value="0">Select Course</option>
              <option *ngFor="let company of teacherCourseData" [value]="company.id">
                {{ company.class_of.class_name+ company.class_of.section}}</option>
            </select> -->
            <label for="upload-notes">
              <input type="file" id="upload-notes" (change)="uploadNotes($event)" required>
            </label>
            <button type="submit" class="solid-btn-green">Save me</button>
            <button type="button" class="solid-btn-voilet" (click)="closeForm()">Close</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>