.boxModel{
  padding: 0;
  height: 100%;
  overflow: scroll !important;
}
.standardDiv{
  margin-top: 0.5rem;
  margin-left: 20rem;
  margin-right: 20rem;
  padding: 10px;
  border: 1px solid rgb(150, 206, 255);
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 0 3px 0 #9e48b9;
}
@media screen and (max-width: 600px) {
  .standardDiv {
    margin-left: inherit;
    margin-right: inherit;
    padding: 5px;
  }
}
.showlist{
  list-style-type: none; 
}
.alignlist{
  display: flex;
  margin-top: 10px;
  border-bottom: 1px solid;
}
.outerDiv{
  flex: 3 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
}
.innerDiv{
  width: 100%;
  max-width: 796px;
  /* align-self: flex-end; */
}
.grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 2px;
}

@media screen and (max-width: 600px) {
  .grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2px;
  }
}

.activity-card{
  border: 1px solid black;
height: 580px;
width: 300px;
background-color: lightgray;
}

.notes-card-cnt {
  width: 100%;
  height: 100%;
  padding: 12px;
  max-width: 106px;
  position: relative;
}
.notes-card{
  background-image: url('../../assets/images/folder-y.svg');
  background-position-x: center;
  background-size: 100%;
  padding: 2.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

.assignment-description p {
  font-size: 14px;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.assignment-description p.class-name {
  font-weight: bold;
}

.add-icon{
  cursor: pointer;
  padding: 3rem;
  position: absolute;
  top: 25.5rem;
}

/* [type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
} */


* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: relative;
  height: 100%;
  border: 2px solid #b8ffaa;
  border-radius: 10px;
  z-index: 9;
  margin: 10px;
  background-color: #f0fff3;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  border-radius: 10px;
}

.form-container h1 {
  font-size: 18px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  border-radius: 5px;
  background: #b8ffaa;
  color: #1f1f1f;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background: #b8ffaa;
  outline: none;
  color: #1f1f1f;
}

.form-container button {
  margin: 0 0.5rem; 
}

.newclass{
  background-color: #ffffff;
}

p {
  font-family: Lato;
}
