<app-home-header></app-home-header>
<section class="container-fluid">
    <div class="col-md-12 col-lg-12 col-sm-0">
        <div class="row">
            <div class="col-md-6">
                <div class="home">
                    <span>Registration</span> <br>
                </div>
                <form [formGroup]="registrationForm">
                    <div class="mt-5 ml-5">
                        <div class="">
                            <label for="first_name"><b>First Name</b></label><br>
                            <div class="row">
                                <input type="text" name="first_name" id="first_name" class="inputBox form-control w-75"
                                    placeholder="First Name" formControlName="first_name">
                            </div>
                            <br>
                        </div>
                        <div class="">
                            <label for="last_name"><b>Last Name</b></label><br>
                            <div class="row">
                                <input type="text" name="last_name" id="last_name" class="inputBox form-control w-75"
                                    placeholder="Last Name" formControlName="last_name">
                            </div>
                            <br>
                        </div>
                        <div class="">
                            <label for="email"><b>Email</b></label><br>
                            <div class="row">
                                <input type="email" name="email" id="email" class="inputBox form-control w-75"
                                    placeholder="Email Id" formControlName="email">
                            </div>
                            <br>
                        </div>
                        <!-- <div class="">
                            <label for="password"><b>Password</b></label><br>
                            <div class="row">
                                <input type="password" name="password" id="password" class="inputBox form-control w-75"
                                    placeholder="Password" formControlName="password">
                            </div>
                            <br>
                        </div> -->
                        <div class="">
                            <label for="role"><b>Organization</b></label><br>
                            <div class="row">
                                <select name="role" id="role" formControlName="role"
                                    class="form-control w-75">
                                    <option value=0 class="dropdown-items">School/College</option>
                                    <option value=3 class="dropdown-items">Student</option>
                                    <option value=2 class="dropdown-items">Teacher</option>
                                    <option value=1 class="dropdown-items">Institute</option>
                                </select>
                            </div>
                            <br>
                        </div>
                        <div class="mt-5">
                            <button type="submit" class="btn btn-submit w-25" (click)="onRegistration()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 pwd-img">
                <img src="../../assets/images/registrationImage.svg" alt="img">
            </div>
        </div>
    </div>
</section>