

a b{
  color: black;
  cursor: pointer;
}

a b:hover{
  color: blue;
}


.boxModel{
  padding: 0;
  height: 100%;
}

.stats {
  padding: 1.5rem;
}

.stats h1 {
  color: #007bff;
}

.stats-text {
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .stats h1 {
    font-size: 1.5rem;
  }
  .stats-text {
    font-size: 10px;
  }
}

.live-card:before {
  content: '';
  background-image: linear-gradient(45deg, #00c6d07a, #0010837d);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  border-radius: 10px;
  z-index: 1;
} 

.live-card{
  width: 100%;
  position: relative;
  border-radius: 10px;
}

.activity-card{
  background-color: aliceblue;
  border: 1px solid rgb(150, 206, 255);
  box-shadow: 0 0 3px 0  rgb(79, 111, 139);
  border-radius: 10px;
  height: 200px !important;
  width: 100%;
  padding: 0.5rem;
}

.activity-head h5 {
  float: left;
}

.activity-head span {
  float: right;
  font-size: 14px;
}

.startNow{
  display: flex;
  justify-content:flex-end; 
}

.classes-container {
  margin: .5rem 0;
}

.myCarousel-container {
  position: relative;
  padding: 0.5rem 0;
}

.carousel-control-prev {
    right: 30px!important;
    left:auto;
}

.carousel-control-next, .carousel-control-prev {
    display: block;
    bottom: auto;
    width: fit-content;
}

.carousel-control-next-icon i, .carousel-control-prev-icon i{
  color: #303030;
}

.class-in-div{
  margin-top: 7.5rem;
}

.outerDiv{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.innerDiv{
  width: 100%;
  max-width: 648px;
  margin-bottom: 20px;
}
.ongoingClassDiv{
  top: 0;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  color: #ffffff!important;
  z-index: 2;
}

.live-card img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgb(150, 206, 255);
  box-shadow: 0 0 3px 0  rgb(79, 111, 139);
}

.ongoingClassInfo{
  position: absolute;
  bottom: 0;
  color: #ffffff;
  padding: 4px;
  z-index: 2;
}

.today-card{
  height: 100%;
  width: 100%;
  background-color: lightgray !important;
  border-radius: 10px;
}

.today-card img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  z-index: 1;
}


.today-card p{
  bottom: 0;
  position: absolute;
  z-index: 2;
  font-weight: bold;
  float: left;
  text-align:left!important;
  padding: 5px;
  color: black;
  margin: 0;
} 

.carousel-inner {
  display: flex;
  text-align: center;
  justify-content: center;
}

@media only screen and (max-width: 400px) {
  .outerDiv{
    align-items: normal;
  }
  .innerDiv{
    max-width: 390px;
  }
  .studentInfo{
    max-width: 112px;
  }
  .classNowDiv{
    max-width: 350px !important;
  }
  .callNowActivityDiv{
    flex-direction: column;
  }
  .activityDiv{
    margin-top: 10px;
    max-width: 350px !important;
  }
}