<nav class="navbar navbar-expand-lg" style="background-color: lightgrey; height: 35px;">
    <div class="navbar-collapse justify-content-left" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link mr-3">
                    <b routerLink="/teacherdashboard/expert-education" routerLinkActive="active">All</b>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3">
                    <b routerLink="/teacherdashboard/expert-services" routerLinkActive="active">X Std</b>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3">
                    <b routerLink="/teacherdashboard/expert-availability" routerLinkActive="active">IX Std</b>
                </a>
            </li>
        </ul>
    </div>
</nav>