<nav class="navbar navbar-expand-lg" style="background-color: lightgrey; height: 35px;">
    <div class="navbar-collapse justify-content-left" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link mr-3" (click)="class()" routerLink="/wrapper/teacherdashboard" routerLinkActive="active">
                    <b>All</b>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" (click)="class()" routerLink="/wrapper/teacherdashboard" routerLinkActive="active">
                    <b>X Std</b>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" (click)="class()" routerLink="/wrapper/teacherdashboard" routerLinkActive="active">
                    <b>IX Std</b>
                </a>
            </li>
        </ul>
    </div>
</nav>