<nav class="navbar navbar-expand-lg" style="background-color: lightgrey;">
    <div class="navbar-collapse justify-content-left" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link mr-3" (click)="onClassTypeClick('All')" [ngClass]="{'active':classType==='All'}" >
                    <b>All</b>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" (click)="onClassTypeClick('X Std')" [ngClass]="{'active':classType==='X Std'}">
                    <b>X Std</b>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" (click)="onClassTypeClick('IX Std')" [ngClass]="{'active':classType==='IX Std'}">
                    <b>IX Std</b>
                </a>
            </li>
        </ul>
    </div>
</nav>